.sideBarChat {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid darkgray;
  transition: 0.7s;
  cursor: pointer;
  width: 100%;
}

.sideBarChat:hover {
  background: #3e9efd;
  color: white;
}

.avatar {
  cursor: pointer;
  margin-right: 20px;
}

.infoBox {
  display: flex;
}

.info {
  margin-right: 20px;
}
