.sidebar {
  flex-basis: 30%;
  flex-direction: column;
  background: #f5f5f5;
  border-right: 1px solid lightgray;
  height: 100vh;
  overflow-y: scroll;
}

.sidebar .header {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  padding: 20px 0;
}

.avatar {
  cursor: pointer;
  margin: 10px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1e1e1;
  color: darkgray;
  border-radius: 8px;
  border: #bdbcbc;
  padding: 3px;
}
.input input {
  background: transparent;
  outline: none;
  appearance: none;
  border: none;
}
