.chatBar {
  flex-basis: 70%;
  background: rgba(97, 97, 168, 0.158);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: scroll;
}

.chatBar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.chatBar::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  flex-basis: 10%;
  justify-content: space-between;
  padding: 10px 20px;
  background: #f5f5f5;
  border-right: 1px solid lightgray;
}

.header > h3 {
  font-weight: 500;
  color: gray;
}

.cname {
  color: black;
}
.input {
  flex-basis: 10%;
  border-top: 1px solid rgba(187, 184, 184, 0.822);
  padding: 10px 20px;
  background: #f5f5f5;
}
.input form input {
  width: 88%;
  border-radius: 998px;
  border: none;
  padding: 5px 20px;
  appearance: none;
  outline: none;
  background: transparent;
}
.input form button {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  justify-content: flex-start;
  padding: 10px;
}
