.messageBox {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  margin: 30px 15px;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.messageBox p {
  background: rgba(127, 161, 255, 0.295);
  padding: 5px 40px;
  border-radius: 19px;
  margin: 5px 15px;
  margin-right: auto;
}

.messageBox small {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 10px;
  color: rgba(32, 31, 31, 0.87);
}

.sender {
  margin-left: auto;
}
.sender p {
  background-color: #3698dd;
  color: white;
}
.sender .photo {
  order: 1;
  margin: 15px;
}
