.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login h1 {
  margin: 18px auto;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 3, 36);
  letter-spacing: 1px;
}
